
html { 
  padding-top: 30px;
}

#header {
  margin-bottom: 10px;
}

.alt {
  color: #777;
  font-family: "Georgia";
  font-style: italic;
}

.dummy-logo {
  width: 80px;
  height: 50px;
  margin: 10px;
  background: #ccc;
  display: inline-block;
  margin-left: 0px;
}

a {
  color: black;
}

h2 a { text-decoration: none; }
h3 a { text-decoration: none; }
h4 a { text-decoration: none; }
h5 a { text-decoration: none; }
h6 a { text-decoration: none; }

a.big-link {
  background: url(../img/small-arrow.gif) no-repeat left center;
  padding-left: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
a.small-link {
  font-size: 0.6em;
  text-decoration: underline;
}
a.donate {
  background:#C5A757;
  color: white;
  font-weight: bold;
  display: block;
  padding: 5px;
  text-decoration:none;
}
a.donate:hover {
  background:#09f;
  color: white;
  font-weight: bold;
  display: block;
  padding: 5px;
}

a.big-link:hover {
  background: url(../img/small-arrow.gif) no-repeat left center;
  padding-left: 10px;
  color: #09f;
  font-weight: bold;
  text-decoration: none;
}
hr.solid {
  border: 3px solid black;
}
hr.double {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 3px;
}
.black {
  border-color: black;
}
